* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.boxStart {
  position: relative;
  height: 200px;
  width: 200px;
  border: 1px solid red;
  background-color: black;
}
.ghost {
  position: absolute;
  height: 100%;
  width: 80%;
  top: 0;
  left: 10%;
  border: 1px solid white;
  border-radius: 20px;
  background-color: yellow;
  z-index: 3;
}
.eyes {
  position: absolute;
  display: inline-block;
  height: 30%;
  width: 30%;
  border-radius: 50%;
  bottom: 45%;
  background-color: white;
}
.eyeleft {
  left: 10%;
}
.eyeright {
  right: 10%;
}
.eyes:after {
  position: absolute;
  bottom: 25%;
  content: " ";
  background-color: blue;
  height: 50%;
  width: 50%;
  left: 20%;
  border-radius: 50%;
}
.player {
  z-index: 2;
  position: absolute;
  height: 80%;
  width: 80%;
  top: 10%;
  left: 10%;
  border-radius: 50%;
  background-color: greenyellow;
}
.eye {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 20%;
  background-color: black;
  border-radius: 50%;
  height: 20%;
}
.mouth {
  position: absolute;
  left: 60%;
  bottom: 35%;
  width: 40%;
  background-color: black;
  height: 10%;
}
.dot {
  position: absolute;
  left: 35%;
  top: 35%;
  width: 25%;
  height: 25%;
  background-color: aliceblue;
  border-radius: 50%;
}
.superdot {
  position: absolute;
  left: 25%;
  top: 25%;
  width: 50%;
  height: 50%;

  background-color: goldenrod;
  border-radius: 50%;
}
.wall {
  width: 100%;
  height: 100%;
}
.grid {
  margin: auto;
  padding: 40px;
  justify-content: center;
  display: grid;
  cursor: grab;
  background-color: rgb(22, 28, 14);
  overflow: hidden;
  position: relative;
}
.box {
  text-align: center;
  position: relative;
}
.scoreBoard {
  background-color: black;
  text-align: center;
  font-size: 2em;
  font-family: "Press Start 2P", cursive;
  color: white;
  height: 75px;
}
.btn {
  font-size: 2em;
  width: 50%;
  display: block;
  padding: 20px;
  margin: auto;
}
.hideout {
  background-color: #2d3928;
  width: 100%;
  height: 100%;
}
.extraTime {
  position: absolute;
  left: 25%;
  top: 25%;
  width: 50%;
  height: 50%;
  background-color: rgb(105, 47, 167);
  border-radius: 50%;
}
.pause-Button {
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 20px;
  font-family: "Press Start 2P", cursive;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}
.modal-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  border: 4px solid #fff;
  padding: 20px;
  font-family: "Press Start 2P", cursive;
  font-size: 16px;
  color: #fff;
  text-align: center;
  z-index: 4;
}
.volume {
  position: absolute;
  right: 20px;
  height: 30px;
  width: 125px;
}
.volumeIcon {
  position: absolute;
  right: 150px;
}
.volumeIcon:hover {
  cursor: pointer;
}
